:root {
  font-size: min(calc(0.7em + 1vw), 18px);
  box-sizing: border-box;

  

  --ff-primary: 'Poppins', sans-serif;;
  
  --fw-reg: 500;
  --fw-bold: 700;
  
  --clr-cyan: hsl(180, 66%, 49%);
  --clr-dark-violet: hsl(257, 27%, 26%);
  --clr-red: hsl(0, 87%, 67%);

  --clr-gray: hsl(0, 0%, 75%);
  --clr-grayish-violet: hsl(257, 7%, 63%);
  --clr-very-dark-blue: hsl(255, 11%, 22%);
  --clr-very-dark-violet: hsl(260, 8%, 14%);
  
  --fs-h1: 2.3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  font-family: var(--ff-primary);
  }
  
  *,
  *::before,
  *::after {
  box-sizing: inherit;
  }
  
/*   * + * {
  margin-top: 1.5em;
  } */
  
  html {
      scroll-behavior: smooth;
  }
  
  html,
  body {
  margin:0;
  padding:0;
  }
  
  h1,
  h2,
  h3 {
      line-height: 1;
      margin: 0;
  }
  
  img {
  width:100%;
  display: block;
  }

body {
  padding:1.5em;
}

/*****************
  TYPOGRAPHY
*****************/

.hero {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  margin-top: 1em;
  font-size: var(--fs-h1);
  color: var(--clr-very-dark-blue);
}

.hero__body {
  color: var(--clr-grayish-violet)
}

/*****************
  LAYOUT
*****************/

header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  max-width: 150px;
}

.header__nav {
  padding-left:0;
}

.hamburger {
    position: relative;
    transform: rotate(90deg);
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0px 10px;
    font-weight: 500;
    color: var(--clr-grayish-violet);
}

nav {
  display: none;
}

nav ul {
  display:flex;
}

nav li {
  list-style: none;
}

.btn {
  border: none;
  background-color: var(--clr-cyan);
  color: #fff;
  font-weight: var(--fw-bold);
  padding: 0.9em 3em;
  border-radius: 200px;
  cursor: pointer;
}

.shortener {
  margin: 4em 0;
}

.shorten-wrapper {
  display: flex;
  flex-direction: column;
  gap: .7em;
  padding: 1em;
  border-radius: .5em;
  background-color: var(--clr-dark-violet);
  background-image: url('../src/images/bg-shorten-mobile.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size:contain;
}

.shorten__input,
.btn--short {
  line-height: 2rem;
  min-height: 2rem;
  border-radius: .5em;
  border: none;
}

.shorten__input {
  padding: .5em;
  text-indent: .8em;
  color: var(--clr-gray);
  font-weight: var(--fw-reg);
}

.btn--short {
  padding: .5em 1em;
  
}


