@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
} 

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Karla", system-ui, sans-serif;
  }
}


input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}